body {
  margin: 0;
  font-family:
    'Inter',
    -apple-system,
    system-ui,
    sans-serif;
  background-color: #F3F4F6;
  color: #374151;
  h1 {
    color: #1F2937;
  }
  h2 {
    color: #1F2937;
  }
}

/* Forzar border radius en DataGrid */
.MuiDataGrid-root {
  border-radius: 0px !important;
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard {
  border-radius: 0px !important;
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor {
  border-radius: 0px !important;
}